

.rightside_sort{
    width: 25rem;
    height: 30rem;
    background: rgb(211, 211, 211);
    border: 1px rgb(42, 42, 42) solid;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.473);
}
.inner_outline{
    width: 95%;
    height: 84%;
    background: rgb(70, 70, 70);
    border: 1px rgb(153, 153, 153) solid;
    margin: 0 auto;
    text-align: center;
    overflow-y: auto;
}

.title{
    display: flex;
    flex-direction: start;
}
.title .context {
    padding-left: 0.5rem;
    width: 30%;
    height: 10%;
    font-size: 1.2rem ;
    font-family:  sans-serif;
    font-weight: bold;
}
.title .err {
    width: 16rem;
    height: 10%;
    color: red;
}
.err_p{
    width:  12rem;
    height: 100%;
    font-size: 1.5rem;
    font-family:  sans-serif;
    font-weight: bold;
 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title .add_block{
    width: 40%;
    height: 100%;
    padding-top: 0.45rem;
    padding-left: 0.2rem;
}
.btn_active_panel_pallet{
    width: 6rem;
    height: 2.5rem;
    margin-top: 0.3rem;
    background: linear-gradient(to bottom, rgb(182, 181, 181) 0%, rgb(129, 129, 129) 100%);
    color: white;
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    cursor: pointer;
}
.btn_active_panel_pallet:active{
    background: linear-gradient(to bottom, rgb(112, 112, 112) 0%, rgb(87, 87, 87) 100%);
}
.btn_active_panel_pallet_startsort{
    width: 6rem;
    height: 2.5rem;
    margin-top: 0.3rem;
    background: linear-gradient(to bottom, rgb(131, 131, 131) 0%, rgb(80, 80, 80) 100%);
    color: white;
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
}
.btn_active_panel_pallet_startsort .word{
    width:100%;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    font-size: 1.3rem ;
    font-family:  sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5rem;
}


.btn_active_panel_pallet .word{
    width:100%;
    font-size: 1.3rem ;
    font-family:  sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 0.4rem;
}
.show_addpanel_word{
    width: 50%;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    font-size: 1.2rem ;
    font-family:  sans-serif;
    font-weight: bold;
    color: rgb(31, 31, 31);
}


.btn_fix_panel_pallet{
    width: 3rem;
    height: 2rem;
    background: linear-gradient(to bottom, rgb(115, 184, 149) 0%, rgb(54, 168, 98) 100%);
    color: white;
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    cursor: pointer;
    display: flex;
    
}
.btn_fix_panel_pallet:active{
    background: linear-gradient(to bottom, rgb(54, 168, 98) 0%, rgb(41, 126, 74) 100%);
}

.btn_delete_panel_pallet{
    width: 3rem;
    height: 2rem;
    background: linear-gradient(to bottom, rgb(190, 123, 77) 0%, rgb(168, 100, 54) 100%);
    color: white;
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    cursor: pointer;
    display: flex;
    
}
.btn_delete_panel_pallet:active{
    background: linear-gradient(to bottom, rgb(168, 100, 54) 0%, rgb(122, 67, 30) 100%);
}

.btn_fix_panel_pallet .word{
    font-size: 1.1rem;
    margin: 0;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}
.btn_delete_panel_pallet .word{
    font-size: 1.1rem;
    margin: 0;
    margin-top: 0.2rem;
    margin-left: 0.4rem;
}
.btn_active_panel_pallet_move
{
    width: 6rem;
    height: 2.5rem;
    margin-top: 0.3rem;
    background: linear-gradient(to bottom, rgb(197, 119, 119) 0%, rgb(231, 16, 16) 100%);
    color: white;
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    cursor: pointer;
}
.btn_active_panel_pallet_move:active{
    background: linear-gradient(to bottom, rgb(112, 112, 112) 0%, rgb(87, 87, 87) 100%);
}
.btn_active_panel_pallet_move .word
{
    width:100%;
    font-size: 1.1rem ;
    font-family:  sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 0.4rem;
    color: white;
}


.pallet_cell{
    width: 99%;
    height: 4rem;
    background: rgb(187, 187, 187);
    border: 1px rgb(112, 112, 112) solid;
    display: flex;
}
.pallet_cell_btn{
    display: flex;
    justify-content: space-around;
    width: 9rem;
    margin: 0 auto;
    padding-top: 0.9rem;
}
.pallet_cell img{
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    border: 1px rgb(112, 112, 112) solid;
}
.pallet_cell .btn_custom{
    width: 6rem;
    height: 40%;
    text-align: center;
    margin: auto;
    margin-right: 0.4rem;
    padding-top: 0.4rem;
    background: linear-gradient(to bottom, rgb(209, 212, 216) 0%, rgb(4, 169, 211) 100%);
    color: rgb(32, 32, 32);
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}
.btn_custom:active{
    background: linear-gradient(to bottom, rgb(136, 142, 151) 0%, rgb(3, 90, 112) 100%);
    color: rgb(212, 212, 212);
}

.pallet_cell .btn_custom_cancel{
    width: 6rem;
    height: 40%;
    text-align: center;
    margin: auto;
    margin-right: 0.4rem;
    padding-top: 0.4rem;
    background: linear-gradient(to bottom, rgb(201, 121, 89) 0%, rgb(211, 63, 4) 100%);
    color: rgb(32, 32, 32);
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}
.btn_custom_cancel:active{
    background: linear-gradient(to bottom, rgb(211, 63, 4) 0%, rgb(150, 44, 3) 100%);
    color: rgb(212, 212, 212);
}


.pallet_cell .context{
    width: 15rem;
    height: 100%;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0.5rem;
}
.pallet_cell .context .inner{
    margin-top: 1.1rem;
}

.cross_container{
    padding-left: 0.3rem;
    width: 30%;
    position: relative;
}



#cross {
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
 }

 #cross:before, #cross:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: linear-gradient(to bottom, rgb(107, 233, 124) 0%, rgb(14, 233, 14) 50%);
 }

 #cross:before {
   left: 50%;
   width: 40%;
   margin-left: -15%;
   height: 100%;
 }

 #cross:after {
   top: 50%;
   height: 30%;
   margin-top: -15%;
   width: 100%;
 }

