.container_area_BG{
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top:50%;
    background: rgba(0, 0, 0, 0.459);
    
}

.container_area_outline{
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top:50%;
    width: 85%;
    height:95%;
    background: rgb(153, 153, 153);
    border-radius: 5px;
}
#container_area{
    position: absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top:50%;
    width: 97.5%;
    height:95%;
    background: rgb(122, 122, 122);
}
.area_cancel{
    transform:translate(-50%,-50%);
    left: 98%;
    top: 2.5%;
    font-size: 1.5rem;
    color: white;
    text-align: right;
    position: absolute;
    cursor: pointer;
}

.area_select{
    width: 18rem;
    height: 35rem;
    background: rgba(41, 41, 41, 0.52);
    transform:translate(-50%,-50%);
    left: 90%;
    top: 50%;
    color: white;
    position: absolute;
}

.area_select_select{
    width: 100%;
    height: 92%;
    overflow: auto;
}

.area_select_select .cell
{
    width: 100%;
    height: 2rem;
    margin-top: 0.05rem;
    cursor: pointer;
    display: flex;
    flex-direction: Row;
}
.area_select_select .cell img
{
    width: 2.2rem;
    height: 100%;
    margin-left: 1rem;
}
.area_select_select .cell div
{
    width: 6rem;
    height: 100%;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
    font: 1.4em sans-serif;
}
.cell_select
{
    background: rgba(255, 251, 0, 0.637);
}
.area_select_delete{
    display: flex;
    flex-direction: Row;
    justify-content:end;
}

.btn_delete{
    width: 5rem;
    height: 2rem;
    background: linear-gradient(to bottom, rgb(144, 144, 144) 0%, rgb(92, 92, 92) 100%);
    color: white;
    border-radius: 3px;
    border: 1px rgb(112, 112, 112) solid;
    cursor: pointer;
    display: flex;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}
.btn_delete:active{
    background: linear-gradient(to bottom, rgb(90, 90, 90) 0%, rgb(47, 47, 47) 100%);
}


.btn_delete .word{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 1.2rem;
    margin-top: 0.2rem;
    font-size: 1.2rem ;
    text-align: center;
    font-family:  sans-serif;
    font-weight: bold;
}
