#set_afd_area{
    width: 25rem;
    height: 12rem;

}
.set_afd_area_color_hide{

    background: rgba(211, 211, 211, 0);
}
.set_afd_area_color{

    background: rgb(211, 211, 211);
    border: 1px rgb(42, 42, 42) solid;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.473);
}
.areatitle{
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.set_block{
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: Row;
    justify-content: flex-start;
}

.set_block .title_block{
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    width: 20%;
    height: 100%;
}
.set_block .english{
    font-size: 1.4rem;
    padding-top: 0.3rem;
    margin: 0;
    width: 8%;
    height: 100%;
}
.set_block input{
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    width: 28%;
    height: 100%;
}
.btn_block{
    width: 95%;
    height: 2.5rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: Row;
    justify-content: flex-end;
}
.btn{
    border: 1px rgb(148, 148, 148) solid;
    height: 2rem;
    border-radius: 3px;
    font-size: 1.4rem;
    color: white;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 0.4rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.btn_enter{
    background: linear-gradient(to bottom, rgb(97, 156, 39) 0%, rgb(56, 112, 0) 100%);
}
.btn_enter:active{
    background: linear-gradient(to bottom, rgb(56, 112, 0) 0%, rgb(36, 71, 0) 100%);
}

.btn_delete{
    background: linear-gradient(to bottom, rgb(204, 135, 56) 0%, rgb(200, 108, 3) 100%);
}
.btn_delete:active{
    background: linear-gradient(to bottom, rgb(200, 108, 3) 0%, rgb(155, 84, 4)100%);
}

.btn_cancel{
    background: linear-gradient(to bottom, rgb(226, 95, 72) 0%, rgb(200, 43, 3) 100%);
}
.btn_cancel:active{
    background: linear-gradient(to bottom, rgb(200, 43, 3) 0%, rgb(149, 32, 2)100%);
}